.footer {
	padding: 20px 0 24px 0;
	background-color: #132240;
	background-color: var(--color-dark-blue);

	&__row {
		margin-bottom: 110px;

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}

	&__text {
		display: flex;
		align-items: center;
		color: #10bfeb;
		color: var(--color-blue-light);
		font-weight: 700;
		font-size: rem(15px);
		line-height: 18px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}

	&__poorVision-icon {
		width: 24px;
		height: 24px;
		margin-right: 8px;
		fill: #10bfeb;
		fill: var(--color-blue-light);
	}

	&__copyright {
		p {
			margin: 0;
			color: #c4c4c4;
			color: var(--color-grey);
			font-weight: 400;
			line-height: 20px;
		}
	}

	&__made-company {
		display: inline-block;
	}

	&__policy {
		display: inline-block;
		margin-right: 316px;

		@include _1440 {
			margin-right: 214px;
		}
	}

	@include _1440 {
		&__col {
			&:nth-child(1) {
				width: calc(100% - 887px);
			}

			&:nth-child(2) {
				width: 887px;
			}
		}
	}

	@include _1200 {
		&__col {
			&:nth-child(1) {
				width: 100%;
				margin-bottom: 25px;
			}

			&:nth-child(2) {
				width: 100%;
			}
		}

		&__copyright {
			.footer__col {
				&:nth-child(1) {
					margin-bottom: 10px;
				}
			}
		}

		&__row {
			flex-direction: column;
			margin-bottom: 43px;

			&:nth-of-type(2) {
				.footer__col:nth-child(1) {
					margin-bottom: 35px;
				}
			}
		}

		&__policy {
			display: block;
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
}

.social {
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}

		.icon {
			margin-right: 10px;
			fill: #fff;
			fill: var(--color-white);
		}

		._fb {
			width: 7px;
			height: 13px;
		}

		._inst {
			width: 12px;
			height: 12px;
		}

		._tw {
			width: 15px;
			height: 15px;
		}
	}

	&__link {
		color: #fff;
		color: var(--color-white);
		font-size: rem(15px);
		line-height: 18px;
	}

	@include _1200 {
		display: flex;

		&__item {
			margin-right: 40px;
			margin-bottom: 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.footer-nav {
	display: flex;
	flex-wrap: wrap;

	&__col {
		width: 25%;

		@include _769 {
			width: 50%;

			&:nth-child(1),
			&:nth-child(2) {
				margin-bottom: 31px;
			}
		}

		@include _740 {
			width: 100%;

			&:nth-child(3) {
				margin-bottom: 32px;
			}
		}
	}

	&__legend {
		margin: 0;
		margin-bottom: 20px;
		color: #fff;
		color: var(--color-white);
		font-weight: 700;
		font-size: rem(18px);
		line-height: 22px;
		text-transform: uppercase;

		@include _1280 {
			font-size: rem(15px);
		}
	}

	&__item {
		max-width: 219px;
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}

		@include _740 {
			max-width: 100%;
		}
	}

	&__link {
		color: #c4c4c4;
		color: var(--color-grey);
		font-weight: 400;
		font-size: rem(15px);
		line-height: 20px;
	}
}

.contacts-tel {
	display: flex;
	align-items: center;

	.icon-tel {
		width: 18px;
		height: 18px;
		margin-right: 6px;
		fill: #c4c4c4;
		fill: var(--color-grey);
	}
}

.contacts-whatsapp {
	display: flex;
	align-items: center;

	.icon-whatsapp {
		width: 18px;
		height: 18px;
		margin-right: 6px;
		fill: #c4c4c4;
		fill: var(--color-grey);
	}
}

.contac-us {
	display: inline-flex;
	align-items: center;
	margin-top: 23px;
	color: #10bfeb;
	color: var(--color-blue-light);
	font-weight: 500;
	font-size: rem(15px);
	line-height: 18px;
	text-transform: uppercase;

	.icon-arrow-small-top {
		width: 16px;
		height: 17px;
		margin-left: 10px;
		fill: #10bfeb;
		fill: var(--color-blue-light);
	}
}
