@import "mixins/media.scss";
@import "fonts/fonts.scss";
@import "func/px-to-rem.scss";
@import "settings/setttings.scss";

.logo {
	display: block;
	width: 173px;
	height: 53px;
	object-fit: cover;

	&_blue {
		fill: #10bfeb;
		fill: var(--color-blue-light);
	}

	&_white {
		fill: #fff;
		fill: var(--color-white);
	}
}

.flex-wrap {
	display: flex;
}

.burger-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;

	span {
		display: block;
		width: 18px;
		height: 3px;
		background-color: #030f26;
		background-color: var(--color-dark);

		&:nth-child(2) {
			margin: 4px 0;
		}
	}
}

.search-button {
	width: 25px;
	height: 25px;

	.icon-search {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		fill: #030f26;
		fill: var(--color-dark);
	}
}

.catalog-button {
	display: flex;
	align-items: center;
	padding: 10px;
	color: #fff;
	color: var(--color-white);
	font-size: rem(14px);
	line-height: 16px;
	background-color: #030f26;
	background-color: var(--color-dark);
	border-radius: 30px;

	.icon-burger-two-lines {
		width: 17px;
		height: 17px;
		margin-left: 13px;
		fill: #fff;
		fill: var(--color-white);
	}
}

.policy {
	color: #c4c4c4;
	color: var(--color-grey);
	line-height: 20px;
}

.artrockets {
	display: flex;
	align-items: flex-end;
	color: #c4c4c4;
	color: var(--color-grey);

	img {
		margin-left: 7px;
		transform: translateY(-2px);
	}
}

.second-title {
	margin: 0;
	color: #030f26;
	color: var(--color-dark);
	font-weight: 500;
	font-size: rem(60px);
	line-height: 60px;

	&._white-colored {
		color: #fff;
		color: var(--color-white);
	}

	&._text-up {
		text-transform: uppercase;
	}
}

.grid {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;
	gap: var(--grid-gap);
}

.site-box {
	display: flex;
	flex-wrap: wrap;

	&__col {
		&:nth-of-type(1) {
			width: calc(100% - 1107px);
		}

		&:nth-of-type(2) {
			width: 1087px;
		}
	}
}

.section-name {
	display: block;
	font-weight: 700;
	font-size: rem(18px);
	line-height: 22px;
	letter-spacing: 2px;
	text-transform: uppercase;

	&._white-colored {
		color: #fff;
		color: var(--color-white);
	}
}

.site-label {
	position: relative;
	display: block;
	width: 100%;
}

.input {
	width: 100%;
	height: 100%;
	background-color: #e5e5e5;
	border: none;
	outline: none;
}

.desktop-hidden {
	display: block;
}

@include desktop-1200 {
	.desktop-hidden {
		display: none;
	}
}
