.personal-cabinet {
	&__container {
		min-height: calc(100vh - 105px);
		background-color: #f4f9ff;
		background-color: var(--color-blue-light3);
	}

	&__client {
		display: flex;
		flex-direction: column;
		width: 277px;
		padding-top: 80px;
		padding-right: 50px;
		padding-left: 20px;
		background-color: #fff;
		background-color: var(--color-white);
	}

	&__menu {
		width: calc(100% - 277px);
	}

	&__client-logo {
		position: relative;
		width: 135px;
		height: 135px;
		margin-bottom: 20px;
		overflow: hidden;
		border-radius: 69px;
	}

	&__client-info {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding-bottom: 20px;
	}

	&__client-logo-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__client-name {
		margin-bottom: 8px;
		color: #030f26;
		color: var(--color-dark);
		font-weight: 500;
		font-size: rem(20px);
		line-height: 25px;
	}

	&__change-info {
		display: block;
		margin-bottom: 40px;
		padding-bottom: 40px;
		color: #10bfeb;
		color: var(--color-blue-light);
		font-size: rem(13px);
		line-height: 15px;
		border-bottom: 1px solid rgba($color: #030f26, $alpha: 0.1);
	}

	&__legend {
		display: block;
		margin-bottom: 5px;
		font-size: rem(13px);
		line-height: 13px;
	}

	&__e-mail {
		display: block;
		margin-bottom: 30px;
		color: #10bfeb;
		color: var(--color-blue-light);
		font-size: rem(15px);
		line-height: 15px;
	}

	&__tel {
		font-weight: 500;
		font-size: rem(15px);
		line-height: 15px;
	}

	&__exit {
		display: flex;
		align-items: center;
		margin-top: auto;
		font-size: rem(14px);
		line-height: 17px;
		cursor: pointer;
	}

	&__exit-icon {
		width: 20px;
		height: 20px;
		margin-right: 3px;
		pointer-events: none;
	}

	&__menu-heading {
		max-width: 810px;
		margin: 0 auto;
		margin-top: 80px;
		margin-bottom: 20px;
		color: #132240;
		color: var(--color-dark-blue);
		font-weight: 700;
		font-size: rem(12px);
		line-height: 15px;
		letter-spacing: 3px;
		text-transform: uppercase;
		opacity: 0.3;
	}

	&__menu-list {
		max-width: 810px;
		margin: 0 auto;
	}

	&__grid {
		flex-wrap: wrap;
		margin: -10px;
	}

	&__menu-item {
		width: calc(50% - 20px);
		margin: 10px;
	}

	@include _1536 {
		&__menu-heading {
			margin-top: 40px;
		}

		&__client {
			padding-top: 40px;
		}
	}

	@include _1366 {
		&__container {
			height: auto;
			min-height: 0;
		}

		&__menu {
			padding-bottom: 40px;
		}
	}

	@include _1280 {
		&__client {
			width: 247px;
			padding-right: 20px;
		}

		&__menu {
			width: calc(100% - 247px);

			&-list,
			&-heading {
				max-width: 750px;
			}
		}

		&__client-logo {
			width: 60px;
			height: 60px;
		}

		&__client-name {
			font-size: rem(15px);
			line-height: 20px;
		}

		&__change-info {
			margin-bottom: 20px;
			padding-bottom: 20px;
		}
	}

	@include _1200 {
		&__container {
			flex-direction: column;
		}

		&__client {
			flex-direction: row;
			width: 100%;

			&-logo {
				flex-shrink: 0;
				margin-right: 10px;
			}

			&-name {
				margin-bottom: 5px;
			}
		}

		&__menu {
			width: 100%;

			&-list,
			&-heading {
				max-width: 96%;
			}
		}

		&__change-info {
			padding-bottom: 0;
			border-bottom: none;
		}

		&__exit {
			margin-top: 30px;
		}
	}
}

.cabinet-box {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 200px;
	padding: 16px 25px 24px 25px;
	background-color: #fff;
	background-color: var(--color-white);
	box-shadow: 0 4px 14px rgba(19, 34, 64, 0.03);

	&._small {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: calc(33.3% - 20px);
		min-height: 70px;
		padding: 20px 30px 20px 26px;

		._small-icon {
			flex-shrink: 0;
			width: 25px;
			height: 25px;
			margin-right: 10px;
			fill: #030f26;
			fill: var(--color-dark);
		}

		._small-heading {
			color: #030f26;
			color: var(--color-dark);
			font-weight: 500;
			font-size: rem(15px);
			line-height: 15px;
		}
	}

	.icon-arrow-red-top {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 15px;
		height: 15px;
		fill: #de525c;
	}

	&__heading {
		display: flex;
		align-items: center;
		margin-bottom: 21px;
		font-weight: 500;
		font-size: rem(25px);
		line-height: 25px;

		@include _1280 {
			font-size: rem(20px);
		}
	}

	&__course-quant {
		display: block;
		margin-left: 8px;
		padding: 2px 4px;
		color: #fff;
		color: var(--color-white);
		font-weight: 500;
		font-size: rem(15px);
		line-height: 15px;
		background: linear-gradient(90deg, #de525c 0%, #e97251 100%);
		border-radius: 3px;
	}

	&__heading-icon {
		width: 35px;
		height: 35px;
		margin-right: 13px;
		fill: var(--color-dark);

		@include _1280 {
			width: 25px;
			height: 25px;
		}
	}

	&__applications {
		display: flex;
		margin-top: auto;
		padding: 10px 12px;
		background-color: #f4f9ff;
		background-color: var(--color-blue-light3);

		._active {
			margin-right: 20px;
			padding-right: 30px;
			border-right: 1px solid rgba($color: #030f26, $alpha: 0.2);
		}
	}

	&__applications-legend {
		display: block;
		margin-bottom: 7px;
		font-size: rem(15px);
		line-height: 15px;
	}

	&__applications-quant {
		display: block;
		font-weight: 500;
		font-size: rem(15px);
		line-height: 15px;
	}

	&__warning-course {
		display: block;
		font-weight: 500;
		font-size: rem(13px);
		line-height: 15px;
	}

	&__course-text {
		display: block;
		max-width: 81%;
		margin-bottom: 20px;
		font-size: rem(13px);
		line-height: 15px;
	}

	&__application-status {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: auto;
		padding: 10px 12px;
		background-color: #f4f9ff;
		background-color: var(--color-blue-light3);

		._name {
			font-size: rem(15px);
			line-height: 15px;
		}

		._status {
			padding: 3px 4px 2px 2px;
			color: var(--color-white);
			font-size: rem(9px);
			line-height: 9px;
			letter-spacing: 2px;
			text-transform: uppercase;
			background-color: #dcc268;
			border-radius: 1px;
		}
	}

	@include _1280 {
		min-height: 180px;
		padding: 17px 15px 15px 15px;

		&._small {
			min-height: 60px;
			padding: 21px 23px;
		}
	}

	@include _740 {
		width: 100%;

		&._small {
			width: 100%;

			._small-heading {
				br {
					display: none;
				}
			}
		}
	}
}
