.site-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	display: none;
	width: 100%;
	height: 100%;

	&__layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		background-color: var(--color-dark);
		opacity: 0.5;
	}

	&__container {
		position: relative;
		z-index: 50;
		padding-top: 105px;
		padding-bottom: 88px;
		background-color: #fff;
		background-color: var(--color-white);
		transform: translateY(-100%);
		transform-origin: top;
		transition: transform 0.2s ease-in-out;

		&._active {
			transform: translateY(0);
		}

		@include _1366 {
			padding-bottom: 58px;
		}
	}

	&__close-button {
		position: absolute;
		top: 13px;
		right: 20px;
		z-index: 15;
		width: 40px;
		height: 40px;
	}

	&__close-icon {
		width: 100%;
		height: 100%;
		pointer-events: none;
		fill: #030f26;
		fill: var(--color-dark);
	}

	&__catalog-link {
		display: inline-flex;
		margin-top: 60px;
	}

	&__heading {
		position: absolute;
		bottom: 0;
		left: 0;
		font-weight: 500;
		font-size: rem(90px);
		line-height: 1;
		text-transform: uppercase;

		@include _1366 {
			left: 15px;
			font-size: rem(50px);
		}
	}

	&__search {
		margin-bottom: 50px;

		@include _1366 {
			margin-bottom: 35px;
		}
	}

	&__input-icon {
		position: absolute;
		top: 50%;
		left: 21px;
		width: 32px;
		height: 32px;
		transform: translateY(-50%);
		fill: #030f26;
		fill: var(--color-dark);

		@include _1366 {
			width: 22px;
			height: 22px;
		}
	}

	&__searh-label {
		height: 69px;

		@include _1366 {
			height: 56px;
		}
	}

	&__input-name {
		position: absolute;
		top: 50%;
		left: 70px;
		font-weight: 500;
		font-size: rem(25px);
		line-height: 30px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transform: translateY(-50%);
		opacity: 0.4;
		transition: top 0.2s ease-in, font-size 0.2s ease-in, transform 0.2s ease-in;

		@include _1366 {
			left: 50px;
			font-size: rem(17px);
		}
	}

	&__input {
		padding: 19px 70px;
		padding-top: 25px;
		padding-bottom: 10px;

		&:focus {
			~ .site-menu__input-name {
				top: 10px;
				font-size: rem(14px);
				line-height: 20px;
				transform: none;
			}
		}

		@include _1366 {
			padding-left: 50px;
		}
	}

	&__row {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 590px;

		.simplebar-content {
			display: flex;
			justify-content: space-between;
		}

		@include _1680 {
			height: 407px;

			.simplebar-content {
				&::before,
				&::after {
					content: none;
				}
			}
		}

		@include _1366 {
			height: 364px;
		}

		@include _1280 {
			height: 304px;
		}
	}

	&__col {
		&:nth-child(2) {
			margin-right: auto;
			margin-left: 157px;

			@include _1440 {
				margin-right: 0;
				margin-left: 0;
			}
		}

		&:last-child {
			margin-right: 138px;

			@include _1440 {
				margin-right: 0;
			}
		}
	}

	&__legend {
		margin-bottom: 22px;
		font-weight: 500;
		font-size: rem(25px);
		line-height: 30px;
		letter-spacing: 2px;
		text-transform: uppercase;

		@include _1366 {
			margin-bottom: 16px;
			font-size: rem(20px);
		}
	}

	&__list {
		max-width: 277px;
		margin-bottom: 60px;

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}

		&._offset-margin {
			margin-right: 70px;
			margin-bottom: 0;
		}
	}

	&__item {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		font-size: rem(20px);
		line-height: 24px;

		@include _1366 {
			font-size: rem(18px);
		}
	}

	@include _1200 {
		&__col {
			&:nth-child(1) {
				width: 100%;
				margin-bottom: 32px;
			}

			._wrap {
				justify-content: space-between;
			}
		}

		&__row {
			height: 394px;

			.simplebar-content {
				flex-wrap: wrap;
			}
		}
	}

	@include _769 {
		&__row {
			height: 564px;
		}
	}

	@include _740 {
		&__row {
			.simplebar-content {
				flex-wrap: wrap;
			}
		}

		&__list {
			width: 100%;
			max-width: 100%;
			margin-bottom: 40px;

			&:nth-child(1) {
				margin-bottom: 32px;
			}

			&._offset-margin {
				margin-right: 0;
			}
		}

		&__col {
			width: 100%;
			margin-bottom: 40px;

			._wrap {
				flex-wrap: wrap;
				justify-content: stretch;
			}

			&:nth-child(2) {
				.site-menu__list {
					&:nth-last-of-type(1) {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@include _500 {
		&__row {
			flex-direction: column;
		}

		&__col {
			._wrap {
				flex-direction: column;
			}
		}

		&__container {
			height: 100%;
			overflow: auto;
		}
	}
}
