.header {
	padding-top: 11px;
	padding-bottom: 9px;

	&__container {
		display: flex;
		align-items: center;
	}

	&__link {
		position: relative;
		z-index: 60;
		margin-right: 60px;
	}

	&__nav_container {
		flex-grow: 1;

		._top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 14px;
			padding-bottom: 13px;
			border-bottom: 1px solid #e3e3e3;
		}

		._bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__links {
		display: flex;
		align-items: center;
	}

	&__tel {
		margin-right: 43px;
		font-size: rem(14px);
	}

	&__logIn {
		display: flex;
		align-items: center;
		margin-right: 22px;
		font-size: rem(14px);

		.icon-login {
			width: 20px;
			height: 20px;
			margin-right: 5px;
			fill: #030f26;
			fill: var(--color-dark);
		}
	}

	&__poorVision-button {
		display: flex;
		align-items: center;
		justify-content: center;

		.icon-poorVision {
			width: 20px;
			height: 20px;
			fill: #030f26;
			fill: var(--color-dark);
		}
	}

	&__burger {
		margin-right: 13px;
		margin-left: 20px;
	}

	&__burger-mobile {
		display: none;
	}

	@include _1200 {
		&__nav_container {
			display: none;
		}

		&__burger-mobile {
			display: flex;
			width: 37px;
			height: 37px;
			margin-left: auto;

			span {
				width: 90%;
			}
		}

		&__logo {
			width: 143px;
		}

		&__mobile-menu {
			margin-top: 13px;
			padding-top: 17px;
			border-top: 1px solid #e3e3e3;
		}
	}

	@include _740 {
		&__mobile-menu {
			position: relative;
			// overflow: auto;

			.simplebar-track.simplebar-horizontal {
				height: 4px;

				.simplebar-scrollbar {
					top: 3px;
					height: 2px;
				}
			}
		}

		&__mobile-menu-list {
			position: relative;
		}
	}
}

.top-nav {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-weight: 400;
		font-size: rem(14px);
		line-height: 16px;
	}
}

.bottom-nav {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		color: #030f26;
		color: var(--color-dark);
		font-weight: 700;
		font-size: rem(18px);
		line-height: 22px;

		@include _1280 {
			font-size: rem(15px);
		}
	}
}
