section.about
	.site-container.about__container
		.site-box
			.site-box__col.about__col
				span.section-name
					|	О нас
			.site-box__col.about__col
				h2.second-title.about__title
					span
						|	Национальная лига&nbsp;инструкторов —
					|	крупнейшая компания в России, занимающаяся подготовкой профессионалов
				p.about__text
					|	Наши курсы созданы для инструкторов, тренеров, спортсменов, любителей активного отдыха и всех представителей отечественной горнолыжной индустрии.
