section.banner.lazy(data-bg="img/banner-img1.webp", data-bg-fallback="img/banner-img1.png")
	.site-container.banner__container
		.flex-wrap.banner__title_wrap
			div
				span.section-name._white-colored.banner__section-name
					|	МАГАЗИН
				h2.second-title.banner__title._white-colored._text-up
					|	Фирменное снаряжение инструктора НЛИ, спортивная одежда и нашивки
			+icon("banner-icon")(class="banner__icon-arrow")
		a.banner__link(href="")
			|	Перейти в интернет-магазин
