section.banner._loyalty.lazy(data-bg="img/banner-img2.webp", data-bg-fallback="img/banner-img2.png")
	.site-container.banner__container
		.flex-wrap.banner__title_wrap
			div
				h2.second-title.banner__title._white-colored._text-up
					|	программа лояльности национальной лиги инструкторов
				p.banner__text
					|	Мы&nbsp;разработали программу лояльности для участников курсов и&nbsp;семинаров НЛИ&nbsp;&mdash; получайте скидки на&nbsp;курсы и&nbsp;товары партнеров
			+icon("banner-icon")(class="banner__icon-arrow")
		a.banner__link(href="")
			|	Подробнее о&nbsp;программе лояльности
