- let tag_arr = ["Горнолыжный спорт", "Сноуборд", "Лыжный фристайл", "UPS", "Сноуборд фристайл", "Телемарк", "Прыжки на батуте", "Вейкбординг", "Роллер-спорт", "Горнолыжный спорт", "Лонгбординг", "Скейтбординг", "Теннис"]

section.catalog
	.site-container
		.flex-wrap.catalog__title_wrap
			div
				span.section-name._white-colored.catalog__section-name
					|	Каталог
				h2.second-title.catalog__title._white-colored._text-up
					|	ближайшие Курсы
			+icon("catalog-arrow")(class="catalog__icon-arrow")
		.site-box
			.site-box__col
				.catalog__tags
					for item in tag_arr
						span.catalog__tag=item
				button.button-reset.catalog__tags-all
					|	все
			.site-box__col
				.flex-wrap.catalog__item-container
					.catalog__item.cart
						.cart__icon
							+icon("cart-skis")
						.cart__info
							.cart__tags
								span.cart__tag
									|	Инструктору
								span.cart__tag
									|	Инструктору
							h3.cart__legend
								|	Инструктор категории «С» Начальный уровнь
							span.cart__category
								|	Горнолыжный спорт
							.cart__price_wrap
								span.cart__price
									|	32 400 ₽
							button.button-reset.cart__send-button
								|	Подать заявку
					.catalog__item.cart
						span.cart__discount
							|	Скидка
						.cart__icon
							+icon("cart-board")
						.cart__info
							.cart__tags
								span.cart__tag._purple-colored
									|	Любителю
							h3.cart__legend
								|	Инструктор категории «С» Начальный уровнь
							span.cart__category
								|	Сноуборд
							.cart__price_wrap
								span.cart__price._colored
									|	32 400 ₽
								span.cart__price-old
									|	40 400 ₽
							button.button-reset.cart__send-button
								|	Подать заявку
					.catalog__item.cart
						.cart__icon
							+icon("cart-skis")
						.cart__info
							.cart__tags
								span.cart__tag
									|	Инструктору
								span.cart__tag._purple-colored
									|	Любителю
							h3.cart__legend
								|	Курс категории «B-basic»
							span.cart__category
								|	Горнолыжный спорт
							.cart__price_wrap
								span.cart__price
									|	32 400 ₽
							button.button-reset.cart__send-button
								|	Подать заявку
					.catalog__item.cart
						.cart__icon
							+icon("cart-board")
						.cart__info
							.cart__tags
								span.cart__tag
									|	Инструктору
								span.cart__tag._purple-colored
									|	Любителю
							h3.cart__legend
								|	Курс категории «B-basic»
							span.cart__category
								|	Сноуборд
							.cart__price_wrap
								span.cart__price
									|	32 400 ₽
							button.button-reset.cart__send-button
								|	Подать заявку
					.catalog__item.cart
						.cart__icon
							+icon("cart-skis")
						.cart__info
							.cart__tags
								span.cart__tag._green-colored
									|	Спортсмену
							h3.cart__legend
								|	Курс категории «B-basic»
							span.cart__category
								|	Горнолыжный спорт
							.cart__price_wrap
								span.cart__price
									|	32 400 ₽
							button.button-reset.cart__send-button
								|	Подать заявку
					.catalog__item.cart
						.cart__icon
							+icon("cart-board")
						.cart__info
							.cart__tags
								span.cart__tag
									|	Инструктору
								span.cart__tag._purple-colored
									|	Любителю
							h3.cart__legend
								|	Курс категории «B-basic»
							span.cart__category
								|	Сноуборд
							.cart__price_wrap
								span.cart__price
									|	32 400 ₽
							button.button-reset.cart__send-button
								|	Подать заявку
					.catalog__item.cart
						.cart__icon
							+icon("cart-board")
						.cart__info
							.cart__tags
								span.cart__tag
									|	Инструктору
								span.cart__tag._purple-colored
									|	Любителю
							h3.cart__legend
								|	Курс категории «B-basic»
							span.cart__category
								|	Сноуборд
							.cart__price_wrap
								span.cart__price
									|	32 400 ₽
							button.button-reset.cart__send-button
								|	Подать заявку
					.catalog__item.cart
						.cart__icon
							+icon("cart-board")
						.cart__info
							.cart__tags
								span.cart__tag
									|	Инструктору
								span.cart__tag._purple-colored
									|	Любителю
							h3.cart__legend
								|	Курс категории «B-basic»
							span.cart__category
								|	Сноуборд
							.cart__price_wrap
								span.cart__price
									|	32 400 ₽
							button.button-reset.cart__send-button
								|	Подать заявку
					.catalog__item.cart
						.cart__icon
							+icon("cart-skis")
						.cart__info
							.cart__tags
								span.cart__tag._green-colored
									|	Спортсмену
							h3.cart__legend
								|	Курс категории «B-basic»
							span.cart__category
								|	Горнолыжный спорт
							.cart__price_wrap
								span.cart__price
									|	32 400 ₽
							button.button-reset.cart__send-button
								|	Подать заявку
					.catalog__item.cart
						.cart__icon
							+icon("cart-board")
						.cart__info
							.cart__tags
								span.cart__tag
									|	Инструктору
								span.cart__tag._purple-colored
									|	Любителю
							h3.cart__legend
								|	Курс категории «B-basic»
							span.cart__category
								|	Сноуборд
							.cart__price_wrap
								span.cart__price
									|	32 400 ₽
							button.button-reset.cart__send-button
								|	Подать заявку
				a(href="").catalog__all-courses
					|	Все курсы

