- let direction_arr = [{name: "Инструк-торам", text: "Вы освоите методики обучения детей, узнать больше о детской физиологии и так далее"},{name: "Тренерам", text: "Вы освоите методики обучения детей, узнать больше о детской физиологии и так далее"}, {name: "Любителям", text: "Вы освоите методики обучения детей, узнать больше о детской физиологии и так далее"}, {name: "Спортсменам", text: "Вы освоите методики обучения детей, узнать больше о детской физиологии и так далее"}]
- let direction_num = 0;

section.directions
	.site-container
		.flex-wrap.directions__title_wrap
			h2.directions__title.second-title
				|   Готовим инструкторов, обучаем любителей активного отдыха, помогаем улучшать навыки&nbsp;спортсменам и&nbsp;тренерам
			span.directions__count(data-text="курс")
				|	91
		.site-box
			.site-box__col
				span.section-name.direction__section-name
					|	направления
			.site-box__col.flex-wrap.directions-grid
				for item in direction_arr
					- direction_num++;
					.directions-grid__item
						h3.directions-grid__title=item.name
						p.directions-grid__text=item.text
						img(data-src=`img/directon-img${direction_num}.png`, src="#", alt="", class="directions-grid__img lazy")
						+icon("designed-arrow-big")
				.directions-grid__item
					h3.directions-grid__title._gardient-color
						|	Онлайн обучение
					p.directions-grid__text._dark-colored
						|	Вы освоите методики обучения детей, узнать больше о детской физиологии и так далее
					span.directions-grid__feautures
						|	Вебинары
					span.directions-grid__feautures
						|	Видеоуроки
					span.directions-grid__feautures
						|	Курсы
					img(data-src=`img/directon-img5.png`, src="#", alt="", class="directions-grid__img lazy")
					+icon("designed-arrow-big")(class="_grey-colored")

