section.facts
	.site-container
		.site-box
			.site-box__col
				span.section-name.facts__section-name
					|	Интересные Факты
			.site-box__col.flex-wrap.facts__grid
				.facts__item
					span.facts__legend
						|	30
					p.facts__text
						|	регионов Российской федерации, в&nbsp;которых мы&nbsp;работаем
				.facts__item
					span.facts__legend
						|	17
					p.facts__text
						|	лет на&nbsp;рынке образовательных услуг в&nbsp;спортивной сфере
				.facts__item
					span.facts__legend
						|	1-е
					p.facts__text
						|	мы&nbsp;певрые и&nbsp;единственные представители России в&nbsp;ISIA
				.facts__item
					span.facts__legend
						|	850
					p.facts__text
						|	участников каждый год проходят наши курсы и&nbsp;семинары
