- let slider_news_arr = ["Обновление курсов по зимним видам спорта", "Курс подготовки инструктаров по лонгбордингу", "Курс подготовки инструктаров по лонгбордингу"]
- let news_num = 0;
section.hero.lazy(data-bg="img/hero-image.webp", data-bg-fallback="img/hero-image.jpg")
	.site-container.hero__container
		h1.hero__title
			|	Национальная лига инструкторов
		+icon("arrow-big")(class="hero__arrow")
		.hero__slider.slider-news
			.slider-news__main
				h2.slider-news__title
					|	Акции и новости
				.slider-news__navigation
			.slider-news__container
				for item in slider_news_arr
					- news_num++
					.slider-news__item.lazy(data-bg=`img/slider-news-img${news_num}.webp`, data-bg-fallback=`img/slider-news-img${news_num}.jpg`)
						span.slider-news__item-title=item
						+icon("slider-news-arrow")
						+icon("designed-arrows")
