- let reccomend_arr = ["Английский язык", "Сореванования", "Проверка удостоверения", "Пересдача"]

section.recommend
	.site-container
			.recommend__title_wrap
				span.section-name.recommend__section-name
					|	Мы рекомендуем
				h2.second-title.recommend__title._text-up
					|	Полезное для инструкторов
			.site-box
				.site-box__col
				.site-box__col
					.recommend__container
							.recommend__grid.flex-wrap
								for item in reccomend_arr
									a.card(href="")
										h3.card__title=item
											+icon("arrows-reccomend")
											img(src="img/card-arrow-top.png", alt=item, class="card__top-icon")
