@font-face {
	font-weight: 400;
	font-family: "formular";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Formular.woff2") format("woff2"),
		url("../fonts/Formular.woff") format("woff");
}

@font-face {
	font-weight: 700;
	font-family: "formular";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Formular-Bold.woff2") format("woff2"),
		url("../fonts/Formular-Bold.woff") format("woff");
}

@font-face {
	font-weight: 500;
	font-family: "formular";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Formular-Medium.woff2") format("woff2"),
		url("../fonts/Formular-Medium.woff") format("woff");
}
