footer.footer
	.site-container.footer__container
		.site-box.footer__row
			.site-box__col.footer__col
				+icon("logo")(class="logo footer__logo logo_white")
			.site-box__col.footer__col
				a.footer__text(href="")
					+icon("poorVision")(class="footer__poorVision-icon")
					|	версия для слабовидящих
		.site-box.footer__row
			.site-box__col.footer__col
				ul.social.social__list
					li.social__item
						a(href="").social__link
							+icon("fb")(class="_fb")
							|	facebook
					li.social__item
						a(href="").social__link
							+icon("inst")(class="_inst")
							|	instagram
					li.social__item
						a(href="").social__link
							+icon("tw")(class="_tw")
							|	twitter
			.site-box__col.footer-nav.footer__col
				.footer-nav__col
					h2.footer-nav__legend
						|	Обучение
					ul.footer-nav__list
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Инструкторам
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Любителям
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Спорстменам
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Тренерам
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Каталог курсов
				.footer-nav__col
					h2.footer-nav__legend
						|	Информация
					ul.footer-nav__list
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Сведения об образовательной организации
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Условия обучения
						li.footer-nav__item
							a(href="").footer-nav__link
								|	FAQ
				.footer-nav__col
					h2.footer-nav__legend
						|	Инструктору
					ul.footer-nav__list
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Вакансии
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Инструкторам
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Проверка
								br
								|	удостоверения
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Подтверждение квалификации
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Ежегодный взнос
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Пересдача
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Английский язык
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Соревнования
				.footer-nav__col
					h2.footer-nav__legend
						|	Контакты
					ul.footer-nav__list
						li.footer-nav__item
							a(href="+79991550470").footer-nav__link.contacts-tel
								+icon("tel")
								|	8 999 155-04-70
						li.footer-nav__item
							a(href="+79991000000").footer-nav__link.contacts-whatsapp
								<svg class="icon-whatsapp" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
									<g opacity="0.5">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9 16.875C13.3492 16.875 16.875 13.3492 16.875 9C16.875 4.65076 13.3492 1.125 9 1.125C4.65076 1.125 1.125 4.65076 1.125 9C1.125 10.4124 1.49681 11.7379 2.14789 12.884L1.125 16.875L5.23961 15.9209C6.35702 16.5293 7.63814 16.875 9 16.875ZM9 15.6635C12.6801 15.6635 15.6635 12.6801 15.6635 9C15.6635 5.31987 12.6801 2.33654 9 2.33654C5.31987 2.33654 2.33654 5.31987 2.33654 9C2.33654 10.4209 2.78128 11.7379 3.53916 12.8195L2.94231 15.0577L5.21996 14.4883C6.29402 15.2294 7.59632 15.6635 9 15.6635Z" fill="white"/>
									<path d="M7.03126 5.34378C6.84403 4.9677 6.5568 5.001 6.26663 5.001C5.74805 5.001 4.93945 5.62216 4.93945 6.77819C4.93945 7.72562 5.35694 8.76273 6.76373 10.3142C8.1214 11.8114 9.90528 12.5859 11.3862 12.5596C12.8672 12.5332 13.1719 11.2588 13.1719 10.8284C13.1719 10.6376 13.0535 10.5425 12.972 10.5166C12.4673 10.2744 11.5365 9.82311 11.3247 9.73832C11.1129 9.65353 11.0023 9.76821 10.9336 9.8306C10.7415 10.0136 10.3608 10.553 10.2305 10.6744C10.1001 10.7957 9.90578 10.7343 9.82491 10.6884C9.52731 10.569 8.7204 10.2101 8.0772 9.58657C7.28174 8.81547 7.23506 8.55017 7.08519 8.31402C6.9653 8.12509 7.05328 8.00918 7.09718 7.95852C7.26857 7.76077 7.50521 7.45546 7.61134 7.30374C7.71747 7.15202 7.63322 6.92166 7.58266 6.77819C7.36525 6.16116 7.18105 5.64464 7.03126 5.34378Z" fill="white"/>
									</g>
								</svg>
								|	8 999 100-00-00
						li.footer-nav__item
							a(href="").footer-nav__link
								|	info@isiarussia.ru
						li.footer-nav__item
							a(href="").footer-nav__link
								|	Строительный проезд, 7а&nbsp;к1, Москва, Россия, 125362
						li.footer-nav__item
							a(href="").footer-nav__link.contac-us
								|	Связаться с нами
								+icon("arrow-small-top")
		.footer__copyright.site-box
			.site-box__col.footer__col
				p
					|	© Национальная лига инструкторов, 2021
			.site-box__col.footer__col
				a(href="").policy.footer__policy
					|	Политика конфиденциальности
				a(href="").artrockets.footer__made-company
					|	  Создание сайта
					img(src="img/artrockets.svg", alt="Создание сайта компания Artrockets")
