
- let top_arr = ["Онлайн обучение", "Интернет-магазин", "Блог", "О компании", "Сотрудничество"];
- let bottom_arr = ["Инструкторам", "Любителям", "Блог", "Тренерам"];
- let bottom_arr_mobile = ["Инструкторам", "Любителям", "Блог", "Тренерам", "Тренерам", "Тренерам"];


header.header
	.site-container.header__container
		a.header__link(href="")
			+icon("logo")(class="logo header__logo logo_blue")
		button.button-reset.header__burger-mobile.burger-menu.js-open-menu(aria-label="Открыть меню")
			span
			span
			span
		.header__nav_container
			._top
				nav.header__nav_top.top-nav
					ul.top-nav__list
						for item in top_arr
							li.top-nav__item
								a.top-nav__link(href="")=item
				.header__links
					a(href="tel:+74959897051").header__tel
						|	+7 495 989 70 51
					button.header__logIn.button-reset
						+icon("login")
						|	Войти
					button.button-reset.header__poorVision-button(aria-label="версия для слабовидящих")
						+icon("poorVision")
			._bottom
				.flex-wrap
					nav.header__nav_bottom.bottom-nav
						ul.bottom-nav__list
							for item in bottom_arr
								li.bottom-nav__item
									a.bottom-nav__link(href="")=item
					button.button-reset.header__burger.burger-menu.js-open-menu(aria-label="Открыть меню")
						span
						span
						span
					button.button-reset.search-button.js-open-menu(aria-label="Поиск")
						+icon("search")
				a.button-reset.catalog-button(href="")
					|	Все курсы
					+icon("burger-two-lines")
	.site-container.desktop-hidden
		nav.header__nav_bottom.bottom-nav.header__mobile-menu(data-simplebar)
				ul.bottom-nav__list.header__mobile-menu-list
					for item in bottom_arr_mobile
						li.bottom-nav__item
							a.bottom-nav__link(href="")=item

