- let site_menu_arr = ["Горнолыжный спорт", "UPS", "Лыжный фристайл", "Сноуборд", "Телемарк", "Прыжки на батуте", "Вейкбординг", "Роллер-спорт", "Лонгбординг", "Скейтбординг", "Стать лектором НЛИ", "МОД", "ISIA"]
- let site_menu_arr1 = ["Полезное", "Соревнования", "Английский язык", "Пересдача", "Проверка удостоверения", "Подтверждение квалификации", "Ежегодный взнос", "Переаттестация"]
- let site_menu_arr2 = ["Горнолыжный спорт", "UPS", "Лыжный фристайл", "Сноуборд", "Телемарк", "Прыжки на батуте", "Вейкбординг", "Роллер-спорт"]
- let site_menu_arr3 = ["Горнолыжный спорт"]
- let site_menu_arr4 = ["Горнолыжный спорт", "Сноуборд", "Теннис"]
- let site_menu_arr5 = ["Переподготовка", "МОД", "Вебинары", "Марафоны"]
- let site_menu_arr6 = ["Интернет-магазин"]
- let site_menu_arr7 = ["О компании", "О нас", "FAQ", "Вакансии", "Отзывы", "Контакты"]
- let site_menu_arr8 = ["Сотрудничество", "Блог"]

.site-menu
	.site-menu__layer
	.site-container.site-menu__container
		button.button-reset.site-menu__close-button
			+icon("icon-cross")(class="site-menu__close-icon")
		.site-menu__heading
			|	Меню
		form.site-menu__search(action="", name="site-menu-search")
			label.site-menu__searh-label.site-label
				input(type="text").site-menu__input.input
				+icon("search-menu")(class="site-menu__input-icon")
				span.site-input-name.site-menu__input-name
					| Поиск по сайту
		.site-menu__row
			.site-menu__col
				.site-menu__legend
					|	ИНСТРУКТОРАМ
				._wrap.flex-wrap
					ul.site-menu__list._offset-margin
						for val in site_menu_arr
							li.site-menu__item
								a.site-menu__link(href="")=val
					ul.site-menu__list
						for val in site_menu_arr1
							li.site-menu__item
								a.site-menu__link(href="")=val
			.site-menu__col
				.site-menu__legend
					|	Любителям
				ul.site-menu__list
					for val in site_menu_arr2
						li.site-menu__item
							a.site-menu__link(href="")=val
				.site-menu__legend
					|	спортсменам
				ul.site-menu__list
					for val in site_menu_arr3
						li.site-menu__item
							a.site-menu__link(href="")=val
				.site-menu__legend
					|	Тренерам
				ul.site-menu__list
					for val in site_menu_arr4
						li.site-menu__item
							a.site-menu__link(href="")=val
			.site-menu__col
				.site-menu__legend
					|	Онлайн-обучение
				ul.site-menu__list
					for val in site_menu_arr5
						li.site-menu__item
							a.site-menu__link(href="")=val
				ul.site-menu__list
					for val in site_menu_arr6
						li.site-menu__item
							a.site-menu__link(href="")=val
				ul.site-menu__list
					for val in site_menu_arr7
						li.site-menu__item
							a.site-menu__link(href="")=val
				ul.site-menu__list
					for val in site_menu_arr8
						li.site-menu__item
							a.site-menu__link(href="")=val
				a.button-reset.catalog-button.site-menu__catalog-link(href="")
					|	Все курсы
					+icon("burger-two-lines")


