*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 15px;
}

body {
	color: #030f26;
	color: var(--color-dark);
	font-weight: 400;
	font-family: "formular", sans-serif;
	font-family: var(--main-font);
	background-color: #fff;
	background-color: var(--color-white);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.site-container {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.page-main {
	flex-grow: 1;
}

.button-reset {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	border-radius: 0;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
