section.personal-cabinet
	.personal-cabinet__container.flex-wrap
		.personal-cabinet__client
			.personal-cabinet__client-logo
				img(src="img/client-logo.png", alt="Мой аватар", class="personal-cabinet__client-logo-img")
			.personal-cabinet__client-info
				.personal-cabinet__client-name
					|	Самойлов Даниил Георгиевич
				span.personal-cabinet__change-info
					|	Изменить данные
				span.personal-cabinet__legend
					|	E-mail
				span.personal-cabinet__e-mail
					|	samoylovdaniil@gmail.com
				span.personal-cabinet__legend
					|	E-mail
				span.personal-cabinet__tel
					|	8 987 654 32 10
				.personal-cabinet__exit
					+icon("exit")(class="personal-cabinet__exit-icon")
					|	Выйти
		.personal-cabinet__menu
			.personal-cabinet__menu-heading
				|	Личный кабинет
			.personal-cabinet__menu-list
				.flex-wrap.personal-cabinet__grid
					a.personal-cabinet__menu-item.cabinet-box(href="")
						+icon("arrow-red-top")
						.cabinet-box__heading
							+icon("cabinet-hat")(class="cabinet-box__heading-icon")
							|	Мои курсы
							span.cabinet-box__course-quant
								|	3
						.cabinet-box__applications
							._active
								span.cabinet-box__applications-legend
									|	Активный заявки
								span.cabinet-box__applications-quant
									|	3
							._archive
								span.cabinet-box__applications-legend
									|	Архив заявок
								span.cabinet-box__applications-quant
									|	10
					a.personal-cabinet__menu-item.cabinet-box(href="")
						+icon("arrow-red-top")
						.cabinet-box__heading
							+icon("cabinet-shop")(class="cabinet-box__heading-icon")
							|	Магазин
						.cabinet-box__applications
							._active
								span.cabinet-box__applications-legend
									|	Активный заявки
								span.cabinet-box__applications-quant
									|	3
							._archive
								span.cabinet-box__applications-legend
									|	Архив заявок
								span.cabinet-box__applications-quant
									|	10
					a.personal-cabinet__menu-item.cabinet-box(href="")
						+icon("arrow-red-top")
						.cabinet-box__heading
							+icon("exchange")(class="cabinet-box__heading-icon")
							|	Пересдача курса
						span.cabinet-box__warning-course
							|	Вам необходимо пересдать курс
						span.cabinet-box__course-text
							|	«Инструктор начального уровня обучения курс категории «С»
						.cabinet-box__application-status
							span._name
								|	Заявка на пересдачу
							span._status
								|	Обрабатывается
					a.personal-cabinet__menu-item.cabinet-box(href="")
						+icon("arrow-red-top")
						.cabinet-box__heading
							+icon("quality")(class="cabinet-box__heading-icon")
							|	Квалификации
						span.cabinet-box__course-text
							|	Подтверждение квалификации занимает&nbsp;2-3 дня
						.cabinet-box__application-status
							span._name
								|	Заявка на пересдачу
							span._status
								|	Обрабатывается
					a.personal-cabinet__menu-item.cabinet-box._small(href="")
						+icon("id-card")(class="_small-icon")
						._small-heading
							|	Список удостоверений
					a.personal-cabinet__menu-item.cabinet-box._small(href="")
						+icon("goggles")(class="_small-icon")
						._small-heading
							|	Ежегодный
							br
							|	взнос
					a.personal-cabinet__menu-item.cabinet-box._small(href="")
						+icon("flag-uk")(class="_small-icon")
						._small-heading
							|	Экзамен по английскому языку


