.about {
	margin-bottom: 119px;

	&__title {
		margin-bottom: 36px;

		span {
			color: #10bfeb;
			text-transform: uppercase;
		}
	}

	&__text {
		max-width: 257px;
		margin: 0;
		font-size: rem(15px);
		line-height: 20px;
	}

	&__col {
		&:nth-child(2) {
			padding-top: 45px;
		}
	}
}
