.banner {
	position: relative;
	margin-bottom: 26px;
	padding: 30px 0;
	background-color: #00bae3;
	background-repeat: no-repeat;
	background-position: center right;
	background-size: contain;

	&._loyalty {
		z-index: 10;
		margin-bottom: 100px;
		background-size: cover;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: #10bfeb;
			background-color: var(--color-blue-light);
			opacity: 0.4;
			content: "";
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__text {
		max-width: 363px;
		margin-top: 24px;
		margin-bottom: 0;
		color: #fff;
		color: var(--color-white);
		line-height: 19px;
	}

	&__title {
		max-width: 672px;
		font-size: rem(45px);
		line-height: 1;

		&_wrap {
			display: flex;
			justify-content: space-between;
			margin-bottom: 45px;
		}
	}

	&__icon-arrow {
		width: 155px;
		height: 162px;
		fill: #fff;
		fill: var(--color-white);
	}

	&__link {
		display: inline-block;
		max-width: 158px;
		margin-left: auto;
		color: #fff;
		color: var(--color-white);
		font-weight: 500;
		font-size: rem(20px);
		line-height: 24px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}
