.card {
	position: relative;
	width: calc(50% - 20px);
	height: 240px;
	margin: 10px;
	padding: 18px 26px;
	background-color: #edf3ff;
	background-color: var(--color-blue-lighter);

	&__title {
		max-width: 311px;
		margin: 0;
		font-weight: 500;
		font-size: rem(35px);
		line-height: 1;
	}

	&__top-icon {
		position: absolute;
		top: 17px;
		right: 17px;
		width: 37px;
		height: 38px;
		object-fit: cover;
	}

	.icon-arrows-reccomend {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 231px;
		height: 142px;
		fill: #fff;
		fill: var(--color-white);
	}
}
