.cart {
	position: relative;
	display: flex;
	height: 310px;
	padding: 20px 20px 15px 20px;
	background-color: #fff;
	background-color: var(--color-white);

	&__discount {
		position: absolute;
		top: -14px;
		left: -8px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 115px;
		height: 38px;
		color: var(--color-white);
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		text-transform: uppercase;
		background: linear-gradient(90deg, #de525c 0%, #e97251 100%);
		border-radius: 140px/45px;
		transform: rotate(-6.59deg);
	}

	&__icon {
		margin-right: 20px;

		.icon {
			width: 120px;
			height: 120px;
			fill: var(--color-dark);
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__tags {
		margin-bottom: 10px;
	}

	&__tag {
		display: inline-block;
		margin-right: 5px;
		padding: 2px 4px;
		color: var(--color-white);
		font-weight: 700;
		font-size: rem(12px);
		text-transform: uppercase;
		background: linear-gradient(108.62deg, #00beea 0%, #1860ce 100%);

		&:nth-last-of-type(1) {
			margin-right: 0;
		}

		&._purple-colored {
			background: linear-gradient(108.62deg, #6e64cf 0%, #473acb 100%);
		}

		&._green-colored {
			background: linear-gradient(108.18deg, #aacc63 0%, #3bad53 100%);
		}
	}

	&__legend {
		max-width: 96%;
		margin: 0;
		margin-bottom: 10px;
		color: var(--color-dark);
		font-weight: 500;
		font-size: rem(35px);
		line-height: 1;
	}

	&__category {
		display: block;
		color: var(--color-dark);
		font-weight: 500;
		font-size: rem(24px);
		line-height: 1;
	}

	&__price {
		color: var(--color-dark);
		font-weight: 500;
		font-size: rem(30px);
		line-height: 1;

		&._colored {
			background: linear-gradient(108.18deg, #de525c 0, #e97251 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		&_wrap {
			position: relative;
			margin-top: auto;
			margin-bottom: 8px;
		}
	}

	&__price-old {
		position: absolute;
		top: 0;
		left: calc(100% + 10px);
		font-weight: 500;
		font-size: rem(15px);
		line-height: 18px;
		text-decoration-line: line-through;
		white-space: nowrap;
	}

	&__send-button {
		color: var(--color-dark);
		font-weight: 500;
		font-size: rem(15px);
		line-height: 18px;
		text-transform: uppercase;
	}
}
