.catalog {
	margin-bottom: 20px;
	padding: 20px 0 40px 0;
	background-color: #132240;
	background-color: var(--color-dark-blue);

	&__title {
		max-width: 500px;

		&_wrap {
			justify-content: space-between;
			margin-bottom: 63px;
		}
	}

	&__icon-arrow {
		width: 110px;
		height: 115px;
		fill: #fff;
		fill: var(--color-white);
	}

	&__section-name {
		margin-bottom: 10px;
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		margin: -5px;
	}

	&__tag {
		display: block;
		margin: 5px;
		padding: 5px 8px;
		color: #fff;
		color: var(--color-white);
		font-weight: 700;
		font-size: rem(12px);
		line-height: 14px;
		text-transform: uppercase;
		border: 2px solid #fff;
		border: 2px solid var(--color-white);
		border-radius: 20px;
		cursor: pointer;
	}

	&__tags-all {
		display: block;
		margin-top: 30px;
		padding: 5px 8px;
		color: #030f26;
		color: var(--color-dark);
		font-weight: 700;
		font-size: rem(12px);
		line-height: 14px;
		text-transform: uppercase;
		background-color: #fff;
		background-color: var(--color-white);
		border-radius: 20px;
		cursor: pointer;
	}

	&__item-container {
		flex-wrap: wrap;
		margin: -10px;
	}

	&__item {
		width: calc(50% - 20px);
		margin: 10px;
	}

	&__all-courses {
		display: inline-block;
		width: 100%;
		margin-top: 28px;
		padding: 25px;
		color: #fff;
		color: var(--color-white);
		font-size: rem(16px);
		line-height: 18px;
		text-align: center;
		border: 2px solid #fff;
		border: 2px solid var(--color-white);
	}
}
