.directions {
	margin-bottom: 40px;

	&__count {
		position: relative;
		margin-left: 43px;
		font-weight: 400;
		font-size: 210px;
		line-height: 1;

		&::before {
			position: absolute;
			right: 36px;
			bottom: -5px;
			font-weight: 700;
			font-size: rem(18px);
			line-height: 22px;
			letter-spacing: 1px;
			text-transform: uppercase;
			content: attr(data-text);
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		&_wrap {
			margin-bottom: 68px;
		}
	}
}

.directions-grid {
	flex-wrap: wrap;
	margin: -10px;

	&__item {
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: calc(50% - 20px);
		height: 310px;
		margin: 10px;
		padding: 15px 20px;

		&:nth-child(1) {
			background: linear-gradient(108.62deg, #00beea, #1860ce);
		}

		&:nth-child(2) {
			background: linear-gradient(108.18deg, #61bd74 0%, #2aa944 100%);
		}

		&:nth-child(3) {
			background: linear-gradient(108.62deg, #6e64cf 0%, #473acb 100%);
		}

		&:nth-child(4) {
			background: linear-gradient(108.18deg, #aacc63 0%, #3bad53 100%);
		}

		&:last-child {
			width: 100%;
			border: 5px solid;
			border-width: 5px;
			border-image-source: linear-gradient(108.18deg, #f74358 0%, #c1293b 100%);
			border-image-slice: 1;
		}

		.icon-designed-arrow-big {
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
			width: 370px;
			height: 256px;
			opacity: 0.2;
			fill: #fff;
			fill: var(--color-white);

			&._grey-colored {
				fill: #c4c4c4;
				fill: var(--color-grey);
			}
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 10px;
		color: #fff;
		color: var(--color-white);
		font-weight: 700;
		font-size: rem(60px);
		line-height: 60px;
		text-transform: uppercase;

		&._gardient-color {
			background: linear-gradient(108.18deg, #f74358 0%, #c1293b 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__text {
		max-width: 290px;
		margin: 0;
		color: #fff;
		color: var(--color-white);
		font-weight: 500;
		font-size: rem(15px);
		line-height: 19px;

		&._dark-colored {
			color: #030f26;
			color: var(--color-dark);
		}
	}

	&__img {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 4;
	}

	&__feautures {
		display: block;
		font-weight: 500;
		font-size: rem(15px);
		line-height: 20px;
		border-bottom: 1px solid #030f26;
		border-bottom: 1px solid var(--color-dark);

		&:nth-of-type(1) {
			margin-top: auto;
		}
	}
}
