.facts {
	margin-bottom: 120px;

	&__item {
		width: calc(50% - 20px);
		height: 180px;
		margin: 10px;
		padding: 20px 30px;
		background-color: #f7fafb;
	}

	&__grid {
		flex-wrap: wrap;
	}

	&__legend {
		display: block;
		margin-bottom: 10px;
		color: #030f26;
		color: var(--color-dark);
		font-weight: 500;
		font-size: rem(45px);
		line-height: 60px;
	}

	&__text {
		max-width: 400px;
		margin: 0;
		font-weight: 500;
		font-size: 20px;
		line-height: 1;
	}
}
