.hero {
	position: relative;
	height: 600px;
	margin-bottom: 53px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

	@include desktop {
		min-height: calc(100vh - 105px);
	}

	&__title {
		max-width: 1000px;
		margin: 0;
		color: #fff;
		color: var(--color-white);
		font-weight: 500;
		font-size: rem(90px);
		line-height: 110px;
		text-transform: uppercase;
	}

	&__arrow {
		position: absolute;
		bottom: 27px;
		left: 20px;
		width: 110px;
		height: 115px;
		fill: #fff;
		fill: var(--color-white);
	}

	&__slider {
		position: absolute;
		right: 20px;
		bottom: 27px;
	}
}

.slider-news {
	display: flex;
	justify-content: space-between;
	width: 809px;

	&__title {
		margin: 0;
		color: #fff;
		color: var(--color-white);
		font-weight: 500;
		font-size: rem(30px);
		line-height: 36px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	&__main {
		width: 257px;
	}

	&__container {
		display: flex;
		flex-shrink: 0;
		width: calc(100% - 257px);
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		width: 256px;
		height: 186px;
		margin-right: 20px;
		padding: 10px;
		overflow: hiddens;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.icon-slider-news-arrow {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 37px;
			height: 38px;
			fill: #fff;
			fill: var(--color-white);
		}

		.icon-designed-arrows {
			position: absolute;
			top: 0;
			left: 11px;
			width: 124px;
			height: 86px;
			opacity: 0.2;
			fill: #fff;
			fill: var(--color-white);
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__item-title {
		display: block;
		max-width: 195px;
		margin-top: auto;
		color: #fff;
		color: var(--color-white);
		font-weight: 700;
		font-size: rem(20px);
		line-height: 20px;
	}
}
