.recommend {
	margin-bottom: 110px;

	&__title {
		max-width: 833px;

		&_wrap {
			margin-bottom: 70px;
		}
	}

	&__section-name {
		margin-bottom: 10px;
	}

	&__grid {
		flex-wrap: wrap;
		margin: -10px;
	}
}
