include ../data/config.pug
include ../components/**/*.pug


block variables


doctype html
html(lang="en")
	head
		include ../parts/head.pug
	body(class=bodyClass)
		include ../parts/menu.pug
		.page-wrapper
			block header
				include ../parts/header.pug

			block content

			block footer
				include ../parts/footer.pug

	block scripts
		script(defer, src="js/vendor.js")
		script(defer, src="js/global.js")
		script(src="js/main.js")
