:root {
	// Typography
	--main-font: "formular", sans-serif;

	// colors
	--color-dark: #030f26;
	--color-white: #fff;
	--color-dark-blue: #132240;
	--color-blue-light: #10bfeb;
	--color-blue-lighter: #edf3ff;
	--color-blue-light3: #f4f9ff;
	--color-orange: #de525c;
	--color-grey: #c4c4c4;
	--grid-gap: 20px;
}
